In [1]:
import h2o

h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.4" 2019-07-16; OpenJDK Runtime Environment (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3); OpenJDK 64-Bit Server VM (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3, mixed mode, sharing)
  Starting server from /home/hyoon/.local/share/virtualenvs/se_h2o-C20bdewn/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmphalw6cjw
  JVM stdout: /tmp/tmphalw6cjw/h2o_hyoon_started_from_python.out
  JVM stderr: /tmp/tmphalw6cjw/h2o_hyoon_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.11
H2O cluster version age:    3 days
H2O cluster name:           H2O_from_python_hyoon_60ij17
H2O cluster total nodes:    1
H2O cluster free memory:    3.904 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.5 final
--------------------------  ------------------------------------------------------------------

In [2]:
url = "https://raw.githubusercontent.com/DarrenCook/h2o/bk/datasets/"
iris = h2o.import_file(url+"iris_wheader.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
train, test = iris.split_frame([.8])
y_col = 'class'
x_cols = iris.col_names
x_cols.remove(y_col)

In [7]:
mod_rforest = h2o.estimators.random_forest.H2ORandomForestEstimator()
mod_rforest.train(x_cols, y_col, train, model_id='randforest_iris')
predRF = mod_rforest.predict(test)

drf Model Build progress: |███████████████████████████████████████████████| 100%
drf prediction progress: |████████████████████████████████████████████████| 100%

In [8]:
mod_rforest

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  randforest_iris


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,150.0,20590.0,1.0,9.0,3.753333,2.0,13.0,6.286667

ModelMetricsMultinomial: drf
** Reported on train data. **

MSE: 0.04565252851412907
RMSE: 0.21366452329324367
LogLoss: 0.4025844550395395
Mean Per-Class Error: 0.06609547123623011

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         40.0              0.0             0.0  0.000000   0 / 40
1          0.0             39.0             4.0  0.093023   4 / 43
2          0.0              4.0            34.0  0.105263   4 / 38
3         40.0             43.0            38.0  0.066116  8 / 121

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.933884
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2019-12-09 16:22:48,0.009 sec,0.0,NaN,NaN,NaN
1,,2019-12-09 16:22:48,0.054 sec,1.0,0.297185,2.698415,0.076923
2,,2019-12-09 16:22:48,0.055 sec,2.0,0.261292,1.912051,0.067568
3,,2019-12-09 16:22:48,0.058 sec,3.0,0.252363,1.657225,0.069767
4,,2019-12-09 16:22:48,0.060 sec,4.0,0.272427,2.116114,0.070000
5,,2019-12-09 16:22:48,0.062 sec,5.0,0.232938,1.309322,0.054545
6,,2019-12-09 16:22:48,0.067 sec,6.0,0.222327,0.998416,0.063063
7,,2019-12-09 16:22:48,0.070 sec,7.0,0.225871,0.980769,0.070175
8,,2019-12-09 16:22:48,0.071 sec,8.0,0.228564,0.955250,0.076271
9,,2019-12-09 16:22:48,0.084 sec,9.0,0.227480,0.946728,0.075630
10,,2019-12-09 16:22:48,0.086 sec,10.0,0.210486,0.651855,0.074380
11,,2019-12-09 16:22:48,0.093 sec,11.0,0.209326,0.651636,0.066116
12,,2019-12-09 16:22:48,0.094 sec,12.0,0.209494,0.651225,0.066116
13,,2019-12-09 16:22:48,0.096 sec,13.0,0.214933,0.660796,0.057851
14,,2019-12-09 16:22:48,0.099 sec,14.0,0.217278,0.665492,0.057851
15,,2019-12-09 16:22:48,0.103 sec,15.0,0.216086,0.664629,0.049587
16,,2019-12-09 16:22:48,0.105 sec,16.0,0.214282,0.662975,0.049587
17,,2019-12-09 16:22:48,0.111 sec,17.0,0.208387,0.656482,0.049587
18,,2019-12-09 16:22:48,0.113 sec,18.0,0.198594,0.380993,0.049587
19,,2019-12-09 16:22:48,0.116 sec,19.0,0.200407,0.382769,0.049587

See the whole table with table.as_data_frame()

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid          1699.128296           1.000000    0.488230
1  petal_len          1369.793091           0.806174    0.393599
2  sepal_len           316.186981           0.186088    0.090854
3  sepal_wid            95.069527           0.055952    0.027317

In [10]:
predRF.summary()

,predict,Iris-setosa,Iris-versicolor,Iris-virginica
type,enum,real,real,real
mins,,0.0,0.0,0.0024317561562298166
mean,,0.34398744968713724,0.2592998680941696,0.3967126822186931
maxs,,0.9975197293489141,0.9975197293489141,1.0
sigma,,0.4811004765983948,0.42490824123453635,0.47955480180362653
zeros,,18,15,0
missing,0,0,0,0
0,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
1,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
2,Iris-setosa,0.9780080821997746,0.019560161643995495,0.0024317561562298166
3,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
4,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
5,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
6,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
7,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
8,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153
9,Iris-setosa,0.9975197293489141,0.0,0.0024802706510859153

In [13]:
mod_rforest.confusion_matrix(test)

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         10.0              0.0             0.0  0.000000  0 / 10
1          0.0              7.0             0.0  0.000000   0 / 7
2          0.0              1.0            11.0  0.083333  1 / 12
3         10.0              8.0            11.0  0.034483  1 / 29

In [21]:
mod_gbm = h2o.estimators.H2OGradientBoostingEstimator()
mod_gbm.train(x_cols, y_col, train, model_id='mod_gbm')
pred_gbm = mod_gbm.predict(test)

gbm Model Build progress: |███████████████████████████████████████████████| 100%
gbm prediction progress: |████████████████████████████████████████████████| 100%

In [22]:
mod_gbm.summary()

Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,150.0,25290.0,1.0,5.0,4.693333,2.0,11.0,8.773334

In [24]:
mod_gbm.confusion_matrix(test)

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0         10.0              0.0             0.0    0.0  0 / 10
1          0.0              7.0             0.0    0.0   0 / 7
2          0.0              0.0            12.0    0.0  0 / 12
3         10.0              7.0            12.0    0.0  0 / 29